.row
  .small-12.column.forms
    %h3.forms
      Hello Admin!  
      %br
      So, you've got some new inventory?  Don't worry, this process is super easy- just grab your coffee and we'll get it knocked out of the park!

    = render 'form'
    %br
    %br
    %br
= link_to "Back", skateboards_path