%div.row
  %div.col-xs-4{style: "background-color:orange;"}
    Hey Man
    dsaf
    dsaf
    dsaf
    dsafdas
    fdas
    fdsa
    f
    %br
    fdsafdsa
    fds
    afdsa
    %br
  %div.col-xs-4{style: "background-color:blue;"}
    Hey Dude
    %br
    %br
    fdsafdsa
  %div.col-xs-6.col-xs-offset-3{style: "background-color:red;"}
    Hey Third Dude
  %div.col-xs-7{style: "background-color:black;"}
    Hey Third Dude


%h1 Welcome#index
%h2 
  Hello world
  %br
  asdf

%div.item#asdf
  Find me in app/views/welcome/index.html.haml
  %ul
    %li Some text
    %li Some more text
    %li Some more more text
  =@hello_world
  - if 1+1==2
    Some text
  - 10.times do |x|
    asdf
    = x

= link_to "Dealerships", dealerships_path, class: "btn btn-sm btn-primary"
= link_to "Features", features_path, class: "btn btn-sm btn-default"


/ Main jumbotron for a primary marketing message or call to action
.jumbotron
  %h1 Hello, world!
  %p This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.
  %p
    %a.btn.btn-primary.btn-lg{href: "#", role: "button"} Learn more »
.page-header
  %h1 Buttons
%p
  %button.btn.btn-lg.btn-default{type: "button"} Default
  %button.btn.btn-lg.btn-primary{type: "button"} Primary
  %button.btn.btn-lg.btn-success{type: "button"} Success
  %button.btn.btn-lg.btn-info{type: "button"} Info
  %button.btn.btn-lg.btn-warning{type: "button"} Warning
  %button.btn.btn-lg.btn-danger{type: "button"} Danger
  %button.btn.btn-lg.btn-link{type: "button"} Link
%p
  %button.btn.btn-default{type: "button"} Default
  %button.btn.btn-primary{type: "button"} Primary
  %button.btn.btn-success{type: "button"} Success
  %button.btn.btn-info{type: "button"} Info
  %button.btn.btn-warning{type: "button"} Warning
  %button.btn.btn-danger{type: "button"} Danger
  %button.btn.btn-link{type: "button"} Link
%p
  %button.btn.btn-sm.btn-default{type: "button"} Default
  %button.btn.btn-sm.btn-primary{type: "button"} Primary
  %button.btn.btn-sm.btn-success{type: "button"} Success
  %button.btn.btn-sm.btn-info{type: "button"} Info
  %button.btn.btn-sm.btn-warning{type: "button"} Warning
  %button.btn.btn-sm.btn-danger{type: "button"} Danger
  %button.btn.btn-sm.btn-link{type: "button"} Link
%p
  %button.btn.btn-xs.btn-default{type: "button"} Default
  %button.btn.btn-xs.btn-primary{type: "button"} Primary
  %button.btn.btn-xs.btn-success{type: "button"} Success
  %button.btn.btn-xs.btn-info{type: "button"} Info
  %button.btn.btn-xs.btn-warning{type: "button"} Warning
  %button.btn.btn-xs.btn-danger{type: "button"} Danger
  %button.btn.btn-xs.btn-link{type: "button"} Link
.page-header
  %h1 Tables
.row
  .col-md-6
    %table.table
      %thead
        %tr
          %th #
          %th First Name
          %th Last Name
          %th Username
      %tbody
        %tr
          %td 1
          %td Mark
          %td Otto
          %td @mdo
        %tr
          %td 2
          %td Jacob
          %td Thornton
          %td @fat
        %tr
          %td 3
          %td Larry
          %td the Bird
          %td @twitter
  .col-md-6
    %table.table.table-striped
      %thead
        %tr
          %th #
          %th First Name
          %th Last Name
          %th Username
      %tbody
        %tr
          %td 1
          %td Mark
          %td Otto
          %td @mdo
        %tr
          %td 2
          %td Jacob
          %td Thornton
          %td @fat
        %tr
          %td 3
          %td Larry
          %td the Bird
          %td @twitter
.row
  .col-md-6
    %table.table.table-bordered
      %thead
        %tr
          %th #
          %th First Name
          %th Last Name
          %th Username
      %tbody
        %tr
          %td{rowspan: "2"} 1
          %td Mark
          %td Otto
          %td @mdo
        %tr
          %td Mark
          %td Otto
          %td @TwBootstrap
        %tr
          %td 2
          %td Jacob
          %td Thornton
          %td @fat
        %tr
          %td 3
          %td{colspan: "2"} Larry the Bird
          %td @twitter
  .col-md-6
    %table.table.table-condensed
      %thead
        %tr
          %th #
          %th First Name
          %th Last Name
          %th Username
      %tbody
        %tr
          %td 1
          %td Mark
          %td Otto
          %td @mdo
        %tr
          %td 2
          %td Jacob
          %td Thornton
          %td @fat
        %tr
          %td 3
          %td{colspan: "2"} Larry the Bird
          %td @twitter
.page-header
  %h1 Thumbnails
%img.img-thumbnail{alt: "200x200", "data-src" => "holder.js/200x200", src: "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMDAiIGhlaWdodD0iMjAwIj48cmVjdCB3aWR0aD0iMjAwIiBoZWlnaHQ9IjIwMCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjEwMCIgeT0iMTAwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEzcHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+MjAweDIwMDwvdGV4dD48L3N2Zz4=", style: "width: 200px; height: 200px;"}/
.page-header
  %h1 Labels
%h1
  %span.label.label-default Default
  %span.label.label-primary Primary
  %span.label.label-success Success
  %span.label.label-info Info
  %span.label.label-warning Warning
  %span.label.label-danger Danger
%h2
  %span.label.label-default Default
  %span.label.label-primary Primary
  %span.label.label-success Success
  %span.label.label-info Info
  %span.label.label-warning Warning
  %span.label.label-danger Danger
%h3
  %span.label.label-default Default
  %span.label.label-primary Primary
  %span.label.label-success Success
  %span.label.label-info Info
  %span.label.label-warning Warning
  %span.label.label-danger Danger
%h4
  %span.label.label-default Default
  %span.label.label-primary Primary
  %span.label.label-success Success
  %span.label.label-info Info
  %span.label.label-warning Warning
  %span.label.label-danger Danger
%h5
  %span.label.label-default Default
  %span.label.label-primary Primary
  %span.label.label-success Success
  %span.label.label-info Info
  %span.label.label-warning Warning
  %span.label.label-danger Danger
%h6
  %span.label.label-default Default
  %span.label.label-primary Primary
  %span.label.label-success Success
  %span.label.label-info Info
  %span.label.label-warning Warning
  %span.label.label-danger Danger
%p
  %span.label.label-default Default
  %span.label.label-primary Primary
  %span.label.label-success Success
  %span.label.label-info Info
  %span.label.label-warning Warning
  %span.label.label-danger Danger
.page-header
  %h1 Badges
%p
  %a{href: "#"}
    Inbox
    %span.badge 42
%ul.nav.nav-pills
  %li.active
    %a{href: "#"}
      Home
      %span.badge 42
  %li
    %a{href: "#"} Profile
  %li
    %a{href: "#"}
      Messages
      %span.badge 3
.page-header
  %h1 Dropdown menus
.dropdown.theme-dropdown.clearfix
  %a#dropdownMenu1.sr-only.dropdown-toggle{"data-toggle" => "dropdown", href: "#", role: "button"}
    Dropdown
    %span.caret
  %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1", role: "menu"}
    %li.active{role: "presentation"}
      %a{href: "#", role: "menuitem", tabindex: "-1"} Action
    %li{role: "presentation"}
      %a{href: "#", role: "menuitem", tabindex: "-1"} Another action
    %li{role: "presentation"}
      %a{href: "#", role: "menuitem", tabindex: "-1"} Something else here
    %li.divider{role: "presentation"}
    %li{role: "presentation"}
      %a{href: "#", role: "menuitem", tabindex: "-1"} Separated link
.page-header
  %h1 Navs
%ul.nav.nav-tabs{role: "tablist"}
  %li.active
    %a{href: "#"} Home
  %li
    %a{href: "#"} Profile
  %li
    %a{href: "#"} Messages
%ul.nav.nav-pills
  %li.active
    %a{href: "#"} Home
  %li
    %a{href: "#"} Profile
  %li
    %a{href: "#"} Messages
.page-header
  %h1 Navbars
.navbar.navbar-default
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{href: "#"} Project name
    .navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li.active
          %a{href: "#"} Home
        %li
          %a{href: "#about"} About
        %li
          %a{href: "#contact"} Contact
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
            Dropdown
            %span.caret
          %ul.dropdown-menu{role: "menu"}
            %li
              %a{href: "#"} Action
            %li
              %a{href: "#"} Another action
            %li
              %a{href: "#"} Something else here
            %li.divider
            %li.dropdown-header Nav header
            %li
              %a{href: "#"} Separated link
            %li
              %a{href: "#"} One more separated link
    / /.nav-collapse
.navbar.navbar-inverse
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{href: "#"} Project name
    .navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li.active
          %a{href: "#"} Home
        %li
          %a{href: "#about"} About
        %li
          %a{href: "#contact"} Contact
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
            Dropdown
            %span.caret
          %ul.dropdown-menu{role: "menu"}
            %li
              %a{href: "#"} Action
            %li
              %a{href: "#"} Another action
            %li
              %a{href: "#"} Something else here
            %li.divider
            %li.dropdown-header Nav header
            %li
              %a{href: "#"} Separated link
            %li
              %a{href: "#"} One more separated link
    / /.nav-collapse
.page-header
  %h1 Alerts
.alert.alert-success{role: "alert"}
  %strong Well done!
  You successfully read this important alert message.
.alert.alert-info{role: "alert"}
  %strong Heads up!
  This alert needs your attention, but it's not super important.
.alert.alert-warning{role: "alert"}
  %strong Warning!
  Best check yo self, you're not looking too good.
.alert.alert-danger{role: "alert"}
  %strong Oh snap!
  Change a few things up and try submitting again.
.page-header
  %h1 Progress bars
.progress
  .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "60", role: "progressbar", style: "width: 60%;"}
    %span.sr-only 60% Complete
.progress
  .progress-bar.progress-bar-success{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "40", role: "progressbar", style: "width: 40%"}
    %span.sr-only 40% Complete (success)
.progress
  .progress-bar.progress-bar-info{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "20", role: "progressbar", style: "width: 20%"}
    %span.sr-only 20% Complete
.progress
  .progress-bar.progress-bar-warning{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "60", role: "progressbar", style: "width: 60%"}
    %span.sr-only 60% Complete (warning)
.progress
  .progress-bar.progress-bar-danger{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "80", role: "progressbar", style: "width: 80%"}
    %span.sr-only 80% Complete (danger)
.progress
  .progress-bar.progress-bar-striped{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "60", role: "progressbar", style: "width: 60%"}
    %span.sr-only 100% Complete
.progress
  .progress-bar.progress-bar-success{style: "width: 35%"}
    %span.sr-only 35% Complete (success)
  .progress-bar.progress-bar-warning{style: "width: 20%"}
    %span.sr-only 20% Complete (warning)
  .progress-bar.progress-bar-danger{style: "width: 10%"}
    %span.sr-only 10% Complete (danger)
.page-header
  %h1 List groups
.row
  .col-sm-4
    %ul.list-group
      %li.list-group-item Cras justo odio
      %li.list-group-item Dapibus ac facilisis in
      %li.list-group-item Morbi leo risus
      %li.list-group-item Porta ac consectetur ac
      %li.list-group-item Vestibulum at eros
  / /.col-sm-4
  .col-sm-4
    .list-group
      %a.list-group-item.active{href: "#"}
        Cras justo odio
      %a.list-group-item{href: "#"} Dapibus ac facilisis in
      %a.list-group-item{href: "#"} Morbi leo risus
      %a.list-group-item{href: "#"} Porta ac consectetur ac
      %a.list-group-item{href: "#"} Vestibulum at eros
  / /.col-sm-4
  .col-sm-4
    .list-group
      %a.list-group-item.active{href: "#"}
        %h4.list-group-item-heading List group item heading
        %p.list-group-item-text Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
      %a.list-group-item{href: "#"}
        %h4.list-group-item-heading List group item heading
        %p.list-group-item-text Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
      %a.list-group-item{href: "#"}
        %h4.list-group-item-heading List group item heading
        %p.list-group-item-text Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
  / /.col-sm-4
.page-header
  %h1 Panels
.row
  .col-sm-4
    .panel.panel-default
      .panel-heading
        %h3.panel-title Panel title
      .panel-body
        Panel content
    .panel.panel-primary
      .panel-heading
        %h3.panel-title Panel title
      .panel-body
        Panel content
  / /.col-sm-4
  .col-sm-4
    .panel.panel-success
      .panel-heading
        %h3.panel-title Panel title
      .panel-body
        Panel content
    .panel.panel-info
      .panel-heading
        %h3.panel-title Panel title
      .panel-body
        Panel content
  / /.col-sm-4
  .col-sm-4
    .panel.panel-warning
      .panel-heading
        %h3.panel-title Panel title
      .panel-body
        Panel content
    .panel.panel-danger
      .panel-heading
        %h3.panel-title Panel title
      .panel-body
        Panel content
  / /.col-sm-4
.page-header
  %h1 Wells
.well
  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur.
.page-header
  %h1 Carousel
#carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
  %ol.carousel-indicators
    %li{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
    %li{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"}
    %li.active{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"}
  .carousel-inner
    .item
      %img{alt: "First slide", "data-src" => "holder.js/1140x500/auto/#777:#555/text:First slide", src: "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMTQwIiBoZWlnaHQ9IjUwMCI+PHJlY3Qgd2lkdGg9IjExNDAiIGhlaWdodD0iNTAwIiBmaWxsPSIjNzc3Ii8+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iNTcwIiB5PSIyNTAiIHN0eWxlPSJmaWxsOiM1NTU7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LXNpemU6NzFweDtmb250LWZhbWlseTpBcmlhbCxIZWx2ZXRpY2Esc2Fucy1zZXJpZjtkb21pbmFudC1iYXNlbGluZTpjZW50cmFsIj5GaXJzdCBzbGlkZTwvdGV4dD48L3N2Zz4="}/
    .item
      %img{alt: "Second slide", "data-src" => "holder.js/1140x500/auto/#666:#444/text:Second slide", src: "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMTQwIiBoZWlnaHQ9IjUwMCI+PHJlY3Qgd2lkdGg9IjExNDAiIGhlaWdodD0iNTAwIiBmaWxsPSIjNjY2Ii8+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iNTcwIiB5PSIyNTAiIHN0eWxlPSJmaWxsOiM0NDQ7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LXNpemU6NzFweDtmb250LWZhbWlseTpBcmlhbCxIZWx2ZXRpY2Esc2Fucy1zZXJpZjtkb21pbmFudC1iYXNlbGluZTpjZW50cmFsIj5TZWNvbmQgc2xpZGU8L3RleHQ+PC9zdmc+"}/
    .item.active
      %img{alt: "Third slide", "data-src" => "holder.js/1140x500/auto/#555:#333/text:Third slide", src: "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMTQwIiBoZWlnaHQ9IjUwMCI+PHJlY3Qgd2lkdGg9IjExNDAiIGhlaWdodD0iNTAwIiBmaWxsPSIjNTU1Ii8+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iNTcwIiB5PSIyNTAiIHN0eWxlPSJmaWxsOiMzMzM7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LXNpemU6NzFweDtmb250LWZhbWlseTpBcmlhbCxIZWx2ZXRpY2Esc2Fucy1zZXJpZjtkb21pbmFudC1iYXNlbGluZTpjZW50cmFsIj5UaGlyZCBzbGlkZTwvdGV4dD48L3N2Zz4="}/
  %a.left.carousel-control{"data-slide" => "prev", href: "#carousel-example-generic", role: "button"}
    %span.glyphicon.glyphicon-chevron-left
  %a.right.carousel-control{"data-slide" => "next", href: "#carousel-example-generic", role: "button"}
    %span.glyphicon.glyphicon-chevron-right
/ /container
/
Bootstrap core JavaScript
\==================================================
/ Placed at the end of the document so the pages load faster
%script{src: "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}
%script{src: "../../dist/js/bootstrap.min.js"}
%script{src: "../../assets/js/docs.min.js"}
#global-zeroclipboard-html-bridge.global-zeroclipboard-container{"data-original-title" => "Copy to clipboard", style: "position: absolute; left: 0px; top: -9999px; width: 15px; height: 15px; z-index: 999999999;", title: ""}
%object#global-zeroclipboard-flash-bridge{classid: "clsid:d27cdb6e-ae6d-11cf-96b8-444553540000", height: "100%", width: "100%"}
  %param{name: "movie", value: "/assets/flash/ZeroClipboard.swf?noCache=1408026207217"}/
  %param{name: "allowScriptAccess", value: "sameDomain"}/
  %param{name: "scale", value: "exactfit"}/
  %param{name: "loop", value: "false"}/
  %param{name: "menu", value: "false"}/
  %param{name: "quality", value: "best"}/
  %param{name: "bgcolor", value: "#ffffff"}/
  %param{name: "wmode", value: "transparent"}/
  %param{name: "flashvars", value: "trustedOrigins=getbootstrap.com%2C%2F%2Fgetbootstrap.com%2Chttp%3A%2F%2Fgetbootstrap.com"}/
  %embed{allowfullscreen: "false", allowscriptaccess: "sameDomain", bgcolor: "#ffffff", flashvars: "trustedOrigins=getbootstrap.com%2C%2F%2Fgetbootstrap.com%2Chttp%3A%2F%2Fgetbootstrap.com", height: "100%", loop: "false", menu: "false", name: "global-zeroclipboard-flash-bridge", pluginspage: "http://www.macromedia.com/go/getflashplayer", quality: "best", scale: "exactfit", src: "/assets/flash/ZeroClipboard.swf?noCache=1408026207217", type: "application/x-shockwave-flash", width: "100%", wmode: "transparent"}  



