.row
  .small-12.column.forms
    %h3.forms
      Occasionally we send out emails to keep you updated on developments in the skateboard world, if you'd like to be put on our list please fill out the form below.  If you include your birthday we may just send you a special surprise that month!
    = render 'form'
    %br
    %br
    %br
    = link_to "Back", skateboards_path

