<h3>Let's create a post!</h3>
<a href="/">Back</a>


<form action="/create_post" method="post">
  <label for="blog_title">Giva ya post a name</label>
  <input type="text" id="blog_title" name="post[blog_title]">
  <br>
  <label for="blog_text">What's on your mind?</label>
  <input type="text" id="blog_text" name="post[blog_text]">
  <br>
  <input type="submit" value="Create Post">
</form>