<html>
<head>
  <title><center>Jim Rambow's Sick ass blog</center></title>
</head>
<body>
  <h1>Blog posts, thus far:</h1>
  <br>
  <%= yield %>
  <hr>
  Make sure you check out my awesome collection of belly button lint!
</body>
</html>